
body {
  <!-- background: #141E30; -->
  background: -webkit-linear-gradient(-45deg, #35577D, #141E30);
  background: linear-gradient(-45deg, #35577D, #141E30);
  margin: 0;
  padding: 0;
}

  
h1 {
  color: #FFF;
  font-size: 60px;
  padding-top: 40px;
  width: 100%;
  font-family: Georgia;
  text-align: center;
}

h2 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
  font-weight: 100;
  font-size: 22px;
  line-height: 24px;
  padding-bottom: 30px;
  text-align: center;
  <!-- width: 70%; -->
  font-family: Georgia;
}
figure{
  text-align: center;
  
}

  figcaption {
  color: aliceblue;
  line-height: 1.3em;
  text-align: center;
  width: 100%;
  font-family: Helvetica;
  font-size: 20px;
  font-weight: bold;
}

.byline {
  font-family: Helvetica;
  color: rgba(255, 255, 255, 0.5);
  float: left;
  font-size: 14px;
  padding-left: 10px;
  text-transform: uppercase;
}

.caption {
  display: block;
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  font-style: italic;
  line-height: 14px;
  margin-left: 20px;
  padding: 10px;
  position: relative;
  top: 80%;
  width: 60%;
  background-color: white;
  color: black;
}

.content {
  padding: 40px;
}

.nav {
  background-color: #0d1421;
  overflow: hidden;
}

.nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
  font-size: 21px;
  font-family: Georgia;
}
.nav a.active {
  background-color: #04AA6D;
  color: white;
}

.nav a:hover {
  background-color: #ddd;
  color: black;
}



/*
a{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 100;
  font-size: 30px;
}
.nav a.active {
  background-color: #FFF;
  color: rgba(255, 255, 255, 0.5);
}
 .nav{
  overflow: hidden
  width: 100%;
  font-family: Georgia;
  background-color: #141E30;
  position: fixed;
  top: 0;
  float: left;
  padding: 14px 16px;
*/

